<!-- templates/index.html -->
{% extends "base.html"%}

{% block title %}Home - Invoicing App{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Invoices</h1>

    <h2>Invoices</h2>
    <table class="table table-striped" id="invoices-table">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Invoice Date</th>
                <th>Invoice Total</th>
                <th>Invoice State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.client.first_name }} {{ invoice.client.last_name }}</td>
                    <td>{{ invoice.invoice_date }}</td>
                    <td>{{ invoice.total }}</td>
                    <td>{{ invoice.state }}</td>
                    <td>
                        <form method="GET" action="{{ url_for('print_invoice', invoice_id=invoice.id) }}" style="display:inline;">
                            <select name="persona" id="persona_{{ invoice.id }}">
                                {% for key, persona in PERSONAS.items() %}
                                    <option value="{{ key }}">{% if persona.company_name %}LMA - {% endif %}{{ persona.first_name }} {{ persona.last_name }}</option>
                                {% endfor %}
                            </select>
                            <select name="language" id="language_{{ invoice.id }}">
                                <option value="en">English</option>
                                <option value="fr">Français</option>
                                <option value="de">Deutsch</option>
                            </select>
                            <button type="submit" class="btn btn-info">Print</button>
                        </form>
                        <form method="POST" action="{{ url_for('delete_invoice', invoice_id=invoice.id) }}" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this invoice?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a href="{{ url_for('edit_invoice', invoice_id=invoice.id) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Include DataTables CSS and JS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#invoices-table').DataTable();
        });
    </script>
</div>
{% endblock %}
