<!-- templates/print_invoice.html -->
{% extends "base.html" %}

{% block title %}{{ language_dict['invoice'] }} #{{ invoice.invoice_number }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{{ language_dict['invoice'] }} #{{ invoice.invoice_number }}</h1>
    
    <!-- Persona Selection -->
    <!--<form method="GET" action="{{ url_for('print_invoice', invoice_id=invoice.id) }}">
        <label for="persona">Select Persona:</label>
        <select name="persona" id="persona">
            {% for key, persona in PERSONAS.items() %}
                <option value="{{ key }}">{{ persona.first_name }} {{ persona.last_name }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="language" value="{{ request.args.get('language', 'en') }}">
        <button type="submit" class="btn btn-info">Update</button>
    </form> -->

    <p><strong>{{ persona_info.prefix }} {{ persona_info.first_name }} {{ persona_info.last_name }} {{ persona_info.suffix }}</strong></p>
    <p>{{ persona_info.address.street }}</p>
    <p>{{ persona_info.address.city }}, {{ persona_info.address.state }} {{ persona_info.address.postal_code }}</p>
    <p>{{ persona_info.address.country }}</p>
    <p>Tel: {{ persona_info.tel }}</p>
    <p>Email: {{ persona_info.email }}</p>
    <p>VAT Number: {{ persona_info.vat_number }}</p>
    <p><strong>Bank Info:</strong></p>
    <p>Bank Name: {{ persona_info.bank_info.bank_name }}</p>
    <p>IBAN: {{ persona_info.bank_info.iban }}</p>
    <p>BIC: {{ persona_info.bank_info.bic }}</p>


    <p>{{ language_dict['date'] }}: {{ invoice.invoice_date }}</p>
    <p>{{ language_dict['client'] }}: {{ invoice.client.company_name }}</p>
    <p>{{ language_dict['currency'] }}: {{ invoice.currency }}</p>

    <h3>{{ language_dict['services'] }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>{{ language_dict['service'] }}</th>
                <th>{{ language_dict['unit_cost'] }}</th>
                <th>{{ language_dict['quantity'] }}</th>
                <th>{{ language_dict['line_total'] }}</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>{{ service.service }}</td>
                <td>{{ service.unit_cost }} {{ invoice.currency }}</td>
                <td>{{ service.quantity }}</td>
                <td>{{ service.line_total }} {{ invoice.currency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>{{ language_dict['summary'] }}</h3>
    <p>{{ language_dict['subtotal'] }}: {{ subtotal }} {{ invoice.currency }}</p>
    <p>{{ language_dict['discount'] }}: {{ discount }} %</p>
    {% if vat_amount > 0 %}
    <p>{{ language_dict['vat'] }} ({{ invoice.vat_percentage }}%): {{ vat_amount }}</p>
    {% endif %}
    <h4>{{ language_dict['total'] }}: {{ total }} {{ invoice.currency }}</h4>
</div>
{% endblock %}
